.App-header {
  background-color: #008080;
  height : 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding : 10px;
  font-size: xx-large;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.navbar {
  display: flex;
  gap : 40px;
}
.App-main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size:xx-large;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* height : 200px; */
  background-color: #b0e0e6;
  flex : 1;
  /* border: 20px solid red; */
}
.App-main > span {
  /* display: flex; */
  /* border: 20px solid green; */
  height : 200px;
  font-size: 3rem;
  margin-top : 320px;
  /* text-align: center; */
}
.Footer {
  position: fixed;
  bottom : 0px;
  width: 100%;
  height : 50px;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  
  font-family: Bebas Neue;
}
.Register {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Bebas Neue;
  /* font-size: larger; */
}
.Register-body {
  background-color: #b0e0e6;
  flex : 1;
  /* min-height: 100vh; */
}
.Register-body > form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 10px;
  /* border : 2px solid */
  /* flex: 1; */
}
.form-fields  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width : 600px;
  font-size: 2rem;
  /* border : 2px solid; */
  height : 14vh;
  padding : 10px;
  /* gap: 20px; */
}
.form-fields > input {
  border-radius: 200px;
  color: white;
  background-color: black;
  height : 50px;
  width : 300px;
  padding-left : 25px;
  font-size: large;

}
.Register-body > p {
   text-align: center;
   font-size: xx-large;
}
.submit-button {
  /* border: 20px solid ; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width : 200px;
  margin-top : 60px;
  /* border-radius: 2px; */
  /* width : 200px; */
}
.submit-button > button {
  flex : 1;
  font-size: large;
  /* border-radius: 20px; */
}
.Events {
  font-family: Bebas Neue;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.Events-body {
background-color: #b0e0e6;
/* border: 2px solid; */
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
}
.Events-body > span {
  font-size: 2.5rem;
  /* border: 2px solid; */
  margin-top: 20px;
}
.card-wrapper {
  display: flex;
  gap : 10px;
  /* border: 2px solid red; */
  width : 95%;
  height : 750px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top : 30px
}
.EventCard {
  border: 2px solid red;
  width : 500px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  max-height: 300px;
  text-align: center;
}
.noEvents {
  /* border: 2px solid; */
  height : 60px;
  margin-top: 300px;
  font-weight: 100;
  font-size: 3rem;
}